<ion-view view-title="Поиск">
  <ion-content class="padding">
    <div class="list">

      <label class="item item-input item-select">
    <div class="input-label">
      Специалист
    </div>
    <select ng-model="subject">
      <option>Біологія</option>
      <option>Математика</option>
      <option>Українська мова</option>
      <option>Англійська мова</option>
    </select>
  </label>
      <label class="item item-input item-select">
    <div class="input-label">
      Цена
    </div>
    <select ng-model="price">
      <option>45</option>
      <option>50</option>
      <option>60</option>
      <option>70</option>
    </select>
  </label>
      <label class="item item-input item-select">
    <div class="input-label">
      Город
    </div>
    <select ng-model="city">
      <option>Суми</option>
      <option>Лебедин</option>
      <option>Тростянець</option>
      <option>Шостка</option>
    </select>
  </label>

    </div>
    <div style="text-align: center">
      <button class="button button-stable" ng-click="goTo(subject, price, city)">
        Найти
      </button>
    </div>
  </ion-content>
</ion-view>