<ion-view view-title="Избранное">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="goTo(fav.id)" ng-repeat="fav in favs" type="item-text-wrap"> <!-- href="#/tab/fav/{{chat.id}}" -->
        <img ng-src="{{fav.face}}">
        <h2>{{fav.name}}</h2>
        <p>{{fav.city}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="delFav(fav)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <div ng-hide="favs.length" class="favourites__default-text">У Вас в избранном пока ничего нету. Вы можете добавить сюда необходимых Вам людей из страницы "Репетиторы"</div>
  </ion-content>
</ion-view>
