<ion-view view-title="Список">
  <ion-content class="padding">

      <div class="card">
        <div class="item item-text-wrap" ng-click="goTo()">
          This is a basic Card which contains an item that has wrapping text.
        </div>
        <div class="item item-text-wrap" ng-click="goTo()">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quas ratione molestiae officiis error voluptate voluptas
        nesciunt pariatur itaque debitis neque laboriosam quidem aliquam deleniti excepturi, dolorum eveniet molestias earum!
        </div>
        <div class="item item-text-wrap" ng-click="goTo()">
          This is a basic Card which contains an item that has wrapping text.
        </div>
      </div>

  </ion-content>
</ion-view>