<ion-view view-title="Поиск">
  <ion-content class="padding">
    <div class="list">

      <label class="item item-input item-select">
    <div class="input-label">
      Специалист
    </div>
    <select>
      <option>Blue</option>
      <option>Green</option>
      <option>Red</option>
    </select>
  </label>
      <label class="item item-input item-select">
    <div class="input-label">
      Цена
    </div>
    <select>
      <option>Blue</option>
      <option>Green</option>
      <option>Red</option>
    </select>
  </label>
      <label class="item item-input item-select">
    <div class="input-label">
      Город
    </div>
    <select>
      <option>Blue</option>
      <option>Green</option>
      <option>Red</option>
    </select>
  </label>

    </div>
    <div style="text-align: center">
      <button class="button button-stable" ng-click="goTo()">
        Найти
      </button>
    </div>
  </ion-content>
</ion-view>