/* Empty. Add your own CSS if you like */
.item-text-wrap.ng-enter, .item-text-wrap.ng-leave {
    transition: transform ease 500ms;
}
.item-text-wrap.ng-enter {
    transform: translateX(200%);
    opacity:0;
}
.item-text-wrap.ng-enter.ng-enter-active {
    transform: translateX(0);
    opacity:1;
}
.item-text-wrap.ng-enter-stagger {
    transition-delay: .05s;
    -webkit-transition-delay: .05s;
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
}
.item-text-wrap.ng-leave.ng-leave-active {
    transform: translateX(-120%);
    opacity:1;

}
.item-text-wrap.ng-leave {
    transform: translateX(0);
    opacity: 0;
}
.item-text-wrap.ng-leave-stagger {
    transition-delay: .05s;
    -webkit-transition-delay: .05s;
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
}
.search__results.card {
    margin-top: 5px;
    box-shadow: none;
    /* border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; */
}
.search__results.card .item.item-text-wrap {
    /* border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; */
    border: 1px solid #ddd;
}
.search__no-matches {
    text-align: center;
    height: 100%;
    transform: translate(0, 50%);
}

/* ------ header ------ */
.bar .title.title-left {
    /* text-align: center; */
}

/* ------ favourites ------ */
.favourites__default-text {
    text-align: center;
    height: 100%;
    padding: 60% 5%;
}

/* ------ about ------ */
.about {
    padding-top: 2%;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.about .about__title {
    text-align: center;
}
 .about p {
    text-align: justify;
} 